* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  font-family: 'Readex Pro', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  overflow-x: hidden;
}

section {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

.container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  height: 100vh;
}

.container header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  bottom: 15vh;
}

.one {
  background: #FFF;
  color: #000;
  line-height: 1;
}

.one#background-image {
  background: url("../img/tw2.svg");
  background-attachment: absolute;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.one#background-image:after {
  content: '';
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  top: 0;
  right: 0;
  width: auto;
  height: 100%;
  z-index: -1;
  background: rgba(255, 255, 255, 0.9);
}

.one nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 10vh;
}

.one nav h1 {
  margin: 2rem;
  font-weight: 700;
}

.one nav h1.heading {
  font-size: 2rem;
  padding: 0.5rem;
}

.one nav h1.text-secondary {
  font-size: 2rem;
}

.one nav a {
  color: #fff;
  text-decoration: none;
}

.one nav .text-secondary {
  color: #6bda53;
}

.one .menu-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.one .nav-link {
  padding: 10px 20px;
  margin: 0 0.25rem;
  background: rgba(142, 206, 243, 0.705);
  border-radius: 25px;
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.3);
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2 0.5rem;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.one .nav-link:hover {
  background: #6bda53;
  border-bottom: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.one .heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 3;
  font-family: 'Readex Pro', sans-serif;
}

.two {
  background: #FFF;
}

.two .skill {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  top: 110vh;
  z-index: 3;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.2 0.5rem;
  font-weight: 600;
}

.two .logos {
  padding: 2rem;
}

.two .skill-logo {
  background-color: rgba(0, 112, 167, 0.068);
  border-radius: 30px;
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.3);
  padding: 1rem;
}

.two .skill-logo:hover {
  background: rgba(22, 22, 22, 0.08);
  border-bottom: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.two .about-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 5;
  position: relative;
}

.two .about-button a {
  color: #161616;
  position: absolute;
  border-right: 0%;
}

.two .about-button a:hover {
  color: #6bda53;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.two .logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 500px;
      flex-basis: 500px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.two img {
  height: 100px;
  width: 100px;
}

.two .logos > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.two #tableau:hover::before {
  content: attr(data-tooltip);
  color: #fff;
  padding: .6rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: rgba(142, 206, 243, 0.99);
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.two #tableau:hover::before,
.two #tableau:hover::after {
  position: absolute;
  top: 80rem;
  left: 33.3333%;
  -webkit-transform: translateX(33%) translateY(0) scale(1);
          transform: translateX(33%) translateY(0) scale(1);
  -webkit-transition: 150ms -webkit-transform;
  transition: 150ms -webkit-transform;
  transition: 150ms transform;
  transition: 150ms transform, 150ms -webkit-transform;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.two #excel:hover::before {
  content: attr(data-tooltip);
  color: #fff;
  padding: .6rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: rgba(142, 206, 243, 0.99);
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.two #excel:hover::before,
.two #excel:hover::after {
  position: absolute;
  top: 80rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0) scale(1);
          transform: translateX(-50%) translateY(0) scale(1);
  -webkit-transition: 150ms -webkit-transform;
  transition: 150ms -webkit-transform;
  transition: 150ms transform;
  transition: 150ms transform, 150ms -webkit-transform;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.two #pandas:hover::before {
  content: attr(data-tooltip);
  color: #fff;
  padding: .6rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: rgba(142, 206, 243, 0.99);
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.two #pandas:hover::before,
.two #pandas:hover::after {
  position: absolute;
  top: 80rem;
  right: 33.3333%;
  -webkit-transform: translateX(33%) translateY(0) scale(1);
          transform: translateX(33%) translateY(0) scale(1);
  -webkit-transition: 150ms -webkit-transform;
  transition: 150ms -webkit-transform;
  transition: 150ms transform;
  transition: 150ms transform, 150ms -webkit-transform;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.two #seaborn:hover::before {
  content: attr(data-tooltip);
  color: #fff;
  padding: .6rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: rgba(142, 206, 243, 0.99);
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.two #seaborn:hover::before,
.two #seaborn:hover::after {
  position: absolute;
  top: 89rem;
  left: 33.3333%;
  -webkit-transform: translateX(33%) translateY(0) scale(1);
          transform: translateX(33%) translateY(0) scale(1);
  -webkit-transition: 150ms -webkit-transform;
  transition: 150ms -webkit-transform;
  transition: 150ms transform;
  transition: 150ms transform, 150ms -webkit-transform;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.two #python:hover::before {
  content: attr(data-tooltip);
  color: #fff;
  padding: .6rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: rgba(142, 206, 243, 0.99);
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.two #python:hover::before,
.two #python:hover::after {
  position: absolute;
  top: 89rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0) scale(1);
          transform: translateX(-50%) translateY(0) scale(1);
  -webkit-transition: 150ms -webkit-transform;
  transition: 150ms -webkit-transform;
  transition: 150ms transform;
  transition: 150ms transform, 150ms -webkit-transform;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.two #bs4:hover::before {
  content: attr(data-tooltip);
  color: #fff;
  padding: .6rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: rgba(142, 206, 243, 0.99);
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.two #bs4:hover::before,
.two #bs4:hover::after {
  position: absolute;
  top: 89rem;
  right: 33.3333%;
  -webkit-transform: translateX(33%) translateY(0) scale(1);
          transform: translateX(33%) translateY(0) scale(1);
  -webkit-transition: 150ms -webkit-transform;
  transition: 150ms -webkit-transform;
  transition: 150ms transform;
  transition: 150ms transform, 150ms -webkit-transform;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.two #sql:hover::before {
  content: attr(data-tooltip);
  color: #fff;
  padding: .6rem 1.2rem;
  border-radius: 1rem;
  text-align: center;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  max-width: 100%;
  background: rgba(142, 206, 243, 0.99);
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.1rem;
  font-weight: 700;
  -webkit-transition: 150ms;
  transition: 150ms;
}

.two #sql:hover::before,
.two #sql:hover::after {
  position: absolute;
  top: 98rem;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(0) scale(1);
          transform: translateX(-50%) translateY(0) scale(1);
  -webkit-transition: 150ms -webkit-transform;
  transition: 150ms -webkit-transform;
  transition: 150ms transform;
  transition: 150ms transform, 150ms -webkit-transform;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}

.three {
  border: 5px;
  background: #fff;
  overflow: hidden;
}

.three .sub-title {
  position: absolute;
  top: 190vh;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1rem;
  font-weight: 600;
}

.three .sub-title .pro {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  z-index: 2;
  float: none;
}

.three .descript {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 2;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

.three .container-3 {
  padding: 1rem;
}

.three .wraper {
  height: 350px;
  width: 350px;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
}

.three .text-bubble {
  height: 262px;
  width: 45%;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 112, 167, 0.068);
  border-bottom: solid 2px rgba(22, 22, 22, 0.08);
  border-right: solid 2px rgba(22, 22, 22, 0.08);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 4.5rem;
  z-index: 1;
}

.three .text-bubble h1 {
  position: absolute;
  text-decoration: none !important;
  color: #161616;
  font-weight: 500;
  top: 0px;
}

.three .text-bubble h3 {
  position: absolute;
  text-decoration: none !important;
  color: #161616;
  font-weight: 600;
  -webkit-transform: translateX(120px) translateY(20px);
          transform: translateX(120px) translateY(20px);
}

.three .text-bubble p {
  position: absolute;
  text-decoration: none !important;
  color: #161616;
  font-weight: 500;
  bottom: 0px;
  -webkit-transform: translateX(0) translateY(-30px);
          transform: translateX(0) translateY(-30px);
}

.three .text-bubble #tab-dash-text {
  position: absolute;
  text-decoration: none !important;
  color: #161616;
  font-weight: 500;
  bottom: 0px;
  -webkit-transform: translateX(50px) translateY(-70px);
          transform: translateX(50px) translateY(-70px);
}

.three .text-bubble:hover {
  background: rgba(22, 22, 22, 0.08);
  border: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.three .work-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.three .work-button a {
  color: #161616;
  position: absolute;
  right: 15%;
  top: 238vh;
}

.three .work-button a:hover {
  color: #6bda53;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.three .container-3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: auto;
  width: 800px;
  gap: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  top: 205vh;
}

.three img {
  height: 100%;
  width: 100%;
  background-size: auto;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.three .container-3 > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.four {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  background-image: url(../img/bg-bottom.png);
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 300vh;
}

.four h1 {
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  margin-left: 6rem;
}

.four #main-footer {
  cursor: default;
  position: relative;
  margin: 0;
  width: calc(100% + (1rem * 2));
  min-width: 100%;
  height: 100%;
  z-index: 0;
}

.four #main-footer .contact_ {
  padding: 1rem;
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-negative: 1;
      flex-shrink: 1;
  margin-left: 7rem;
  border-left: solid 2px rgba(255, 255, 255, 0.12);
}

.four #main-footer .contact_ h3 {
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.four #main-footer .contact_ p {
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.four #main-footer .contact_ .footer_ {
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

.icons {
  margin-top: 1rem;
}

.icons #main-icons {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: left;
  padding: 1.5rem;
}

.icons #main-icons:nth-child(1) {
  color: #161616;
  left: 0;
  top: 475px;
  position: fixed;
  z-index: 3;
}

.icons #main-icons:nth-child(2) {
  color: #161616;
  left: 0;
  top: 375px;
  position: fixed;
  z-index: 3;
}

.icons #main-icons:nth-child(3) {
  color: #161616;
  left: 0;
  top: 275px;
  position: fixed;
  z-index: 3;
}

.icons #main-icons:hover {
  color: #6bda53;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

#about-background {
  background-image: url("../img/bg-top.png");
  color: #000;
  background-repeat: no-repeat;
  height: 40vh;
  width: 100%;
}

#about-background #ni {
  position: relative;
  top: 0px;
  -webkit-transform: translateX(0) translateY(-50vh);
          transform: translateX(0) translateY(-50vh);
}

#b {
  height: 78%;
}

#b .bio-info {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -webkit-transform: translateX(0) translateY(-30vh);
          transform: translateX(0) translateY(-30vh);
}

#b #container-bio {
  position: relative;
  display: -ms-grid;
  display: grid;
  grid-gap: 30px;
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
      grid-template-areas: 'bioimage bio bio';
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

#b #container-bio #yus {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: bioimage;
  justify-items: center;
  margin: auto;
  border-radius: 50%;
  border: solid 5px #6bda53;
}

#b #container-bio #item-2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: bio;
}

#b #container-bio #item-2 h2 {
  font-size: 1.5rem;
  text-align: center;
  justify-items: center;
  margin-right: 20%;
}

#b #container-bio #item-2 #statement {
  font-size: 1.25rem;
  max-width: 80%;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 400;
  text-align: center;
  justify-items: center;
}

#skilled-in {
  height: 78%;
}

#skilled-in #sh {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  top: 0px;
  margin-right: 0%;
  -webkit-transform: translateX(0) translateY(10vh);
          transform: translateX(0) translateY(10vh);
  z-index: 3;
  width: 100%;
}

#skilled-in #sh #s {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  font-family: 'Readex Pro', sans-serif;
  font-size: 1.2 0.5rem;
  font-weight: 600;
}

#contact-cloud9 {
  position: absolute;
  top: 199vh;
}

body {
  width: 100vw;
  height: 100%;
  margin: 0;
  overflow-x: hidden;
}

section {
  height: 100vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  scroll-snap-align: start;
}

.page-container {
  -ms-scroll-snap-type: y mandatory;
      scroll-snap-type: y mandatory;
  min-height: 100%;
  width: 100vw;
}

.page-container .work-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  z-index: 1;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main {
  overflow: auto;
  padding-bottom: 50px;
}

.pg-s1 {
  height: 52vh;
  width: 100vw;
  background: #FFF;
  color: #000;
  line-height: 1;
}

.pg-s1 .bg-top {
  background-size: cover;
  background-repeat: no-repeat;
  position: absolute;
  top: 0px;
}

.pg-s1 #work-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  min-height: 3vh;
}

.pg-s1 #work-nav a {
  color: #fff;
  text-decoration: none;
}

.pg-s1 #work-nav .work-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.pg-s1 #work-nav .nav-link {
  padding: 10px 20px;
  margin: 0 0.25rem;
  background: rgba(142, 206, 243, 0.705);
  border-radius: 25px;
  border-bottom: solid 2.75px rgba(22, 22, 22, 0.3);
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.2 0.5rem;
  font-weight: 600;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pg-s1 #work-nav .nav-link:hover {
  background: #6bda53;
  border-bottom: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.pg-s2 {
  height: 10vh;
  width: 100vw;
  background: #FFF;
}

.pg-s2 .heading {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  position: relative;
  top: 0px;
  left: 0px;
  z-index: 3;
  font-family: 'Readex Pro', sans-serif;
}

.pg-s2 h1 {
  margin: 2rem;
  font-weight: 700;
}

.pg-s2 h1.heading {
  font-size: 2rem;
  padding: 0.5rem;
}

.pg-s2 h1.text-secondary {
  font-size: 2rem;
}

.pg-s2 a {
  color: #fff;
  text-decoration: none;
}

.pg-s2 .text-secondary {
  color: #6bda53;
}

.pg-s3 {
  width: 100vw;
  background: #fff;
}

.pg-s3 .Projekt-name {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  z-index: 1;
  font-family: 'Readex Pro', sans-serif;
  font-weight: 500;
}

.pg-s3 .Projekt-flexbox {
  padding: 1rem;
}

.pg-s3 .img-tile {
  height: 350px;
  width: 350px;
  position: relative;
  -ms-grid-column-align: center;
      justify-self: center;
  text-align: center;
  z-index: 1;
}

.pg-s3 .text-tile {
  height: 262px;
  width: 350px;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(0, 112, 167, 0.068);
  border-bottom: solid 2px rgba(22, 22, 22, 0.08);
  border-right: solid 2px rgba(22, 22, 22, 0.08);
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  padding-top: 4.5rem;
  z-index: 1;
}

.pg-s3 .text-tile h1 {
  position: absolute;
  width: 100%;
  text-decoration: none !important;
  color: #161616;
  font-weight: 500;
  top: 0px;
}

.pg-s3 .text-tile h3 {
  position: absolute;
  text-decoration: none !important;
  color: #161616;
  font-weight: 600;
  -webkit-transform: translateX(120px) translateY(20px);
          transform: translateX(120px) translateY(20px);
}

.pg-s3 .text-tile p {
  position: absolute;
  text-decoration: none !important;
  color: #161616;
  font-weight: 500;
  bottom: 0px;
  -webkit-transform: translateX(0) translateY(-30px);
          transform: translateX(0) translateY(-30px);
}

.pg-s3 .text-tile #tab-dash-text {
  position: absolute;
  text-decoration: none !important;
  color: #161616;
  font-weight: 500;
  bottom: 0px;
  -webkit-transform: translateX(50px) translateY(-70px);
          transform: translateX(50px) translateY(-70px);
}

.pg-s3 .text-tile:hover {
  background: rgba(22, 22, 22, 0.08);
  border: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.pg-s3 .Projekt-flexbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 50%;
  width: 80%;
  gap: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: absolute;
  top: 65vh;
  z-index: 1;
}

.pg-s3 .more-projekts {
  display: none;
}

.pg-s3 img {
  height: 100%;
  width: 100%;
  background-size: auto;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.pg-s3 .Projekt-flexbox > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.pg-s3 .show-more-btn {
  position: absolute;
  top: 160vh;
  padding: 12px 20px;
  background-color: rgba(142, 206, 243, 0.705);
  border-radius: 30px;
  border: none;
  border-bottom: solid 2px rgba(22, 22, 22, 0.6);
  cursor: pointer;
  z-index: 2;
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: white;
}

.pg-s3 .show-more-btn:hover {
  background: rgba(22, 22, 22, 0.08);
  border: none;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.pg-s3 .Projekt-flexbox.show-more .more-projekts {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  min-height: 50%;
  width: 100%;
  gap: 0;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  position: relative;
  z-index: 1;
}

.pg-s3 .more-projekts > * {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
}

.footer {
  width: 100%;
  background: #fff;
  position: relative;
  min-height: 50px;
  margin-top: -50px;
  clear: both;
}

.footer img {
  position: relative;
  background-size: cover;
  background-position: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

html {
  height: 100%;
  width: 100%;
}

body {
  width: 100%;
  height: 100%;
}

.contact_pg {
  display: fill;
  position: absolute;
  background-image: url(../img/bg-bottom.png);
  background-size: cover;
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 40vh;
}

.contact_pg .title {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
  margin-right: auto;
}

.contact_pg .title h1 {
  position: relative;
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translateX(125px) translateY(-400px);
          transform: translateX(125px) translateY(-400px);
  border: solid 2px rgba(255, 255, 255, 0);
  min-width: 161%;
  margin-top: 10rem;
}

.contact_pg .title h2 {
  position: relative;
  font-family: 'Readex Pro', sans-serif;
  text-transform: uppercase;
  font-size: 1.5rem;
  font-weight: 600;
  color: white;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-transform: translateX(10px) translateY(-400px);
          transform: translateX(10px) translateY(-400px);
  border: solid 2px rgba(255, 255, 255, 0);
  min-width: 272%;
  margin-top: 3rem;
}

.contact_pg #contact-footer {
  position: absolute;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact_pg #contact-footer #contact-social .contact-icons {
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  left: 50%;
  padding: 20px;
}

.contact_pg #contact-footer #contact-social .contact-icons:nth-child(1) {
  color: #161616;
  position: absolute;
  -webkit-transform: translateX(-185px) translateY(-60px);
          transform: translateX(-185px) translateY(-60px);
  z-index: 1;
}

.contact_pg #contact-footer #contact-social .contact-icons:nth-child(2) {
  color: #161616;
  -webkit-transform: translateX(-55px) translateY(-60px);
          transform: translateX(-55px) translateY(-60px);
  position: absolute;
  z-index: 1;
}

.contact_pg #contact-footer #contact-social .contact-icons:nth-child(3) {
  color: #161616;
  -webkit-transform: translateX(80px) translateY(-60px);
          transform: translateX(80px) translateY(-60px);
  position: absolute;
  z-index: 1;
}

.contact_pg #contact-footer #contact-social .contact-icons:hover {
  color: #6bda53;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.contact_pg #contact-footer .contact_ {
  display: block;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.5rem 3.5rem;
  border-left: solid 2px rgba(255, 255, 255, 0.12);
}

.contact_pg #contact-footer .contact_ h3 {
  position: relative;
  font-family: 'Readex Pro', sans-serif;
  -webkit-transform: translateX(145px) translateY(-40px);
          transform: translateX(145px) translateY(-40px);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 600;
  color: white;
}

.contact_pg #contact-footer .contact_ p {
  position: relative;
  font-family: 'Readex Pro', sans-serif;
  -webkit-transform: translateX(-10px) translateY(-20px);
          transform: translateX(-10px) translateY(-20px);
  text-transform: uppercase;
  padding: 1.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: white;
}

@media screen and (max-width: 768px) {
  .heading {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    position: fixed;
    top: 0px;
    z-index: 3;
  }
  .menu-button {
    position: absolute;
    z-index: 3;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu-button .button-line {
    width: 28px;
    height: 5px;
    margin: 0 0 5px 0;
    background: #000;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu-button.close {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  .menu-button.close .button-line:nth-child(1) {
    background-color: #0070A7;
    -webkit-transform: rotate(45deg) translate(6px, 6px);
            transform: rotate(45deg) translate(6px, 6px);
  }
  .menu-button.close .button-line:nth-child(2) {
    opacity: 0;
  }
  .menu-button.close .button-line:nth-child(3) {
    background-color: #0070A7;
    -webkit-transform: rotate(-45deg) translate(9px, -8px);
            transform: rotate(-45deg) translate(9px, -8px);
  }
  .menu {
    z-index: 2;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    visibility: hidden;
  }
  .menu.show {
    visibility: visible;
  }
  .menu-pages, .menu-navigation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    float: center;
    width: 50%;
    height: 100vh;
    overflow: hidden;
  }
  .menu-navigation {
    margin: 0;
    padding: 0;
    background: rgba(242, 242, 242, 0.9);
    list-style: none;
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu-navigation.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-navigation .portrait {
    width: 175px;
    height: 175px;
    background: url("../img/pic_me.svg");
    background-size: cover;
    -ms-flex-line-pack: center;
        align-content: center;
    position: absolute;
    border-radius: 50%;
    border: solid 5px #6bda53;
    top: 5vh;
  }
  .menu-pages {
    background: rgba(255, 255, 255, 0.85);
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu-pages.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu .nav-items {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu .nav-items.show {
    -webkit-transform: traslate3d(0, 0, 0);
            transform: traslate3d(0, 0, 0);
  }
  .menu .nav-items.current > a {
    color: #0070A7;
  }
  .menu .nav-link {
    background: none;
    display: inline-block;
    position: relative;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0.88rem 0;
    font-weight: 500;
    color: #000;
    border-bottom: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .menu .nav-link:hover {
    background: rgba(255, 255, 255, 8e-07);
    color: #6bda53;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .nav-items:nth-child(1) {
    -webkit-transition-delay: 0.125s;
            transition-delay: 0.125s;
  }
  .nav-items:nth-child(2) {
    -webkit-transition-delay: 0.25s;
            transition-delay: 0.25s;
  }
  .nav-items:nth-child(3) {
    -webkit-transition-delay: 0.375s;
            transition-delay: 0.375s;
  }
  .nav-items:nth-child(4) {
    -webkit-transition-delay: 0.5s;
            transition-delay: 0.5s;
  }
  main {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  main .heading {
    line-height: 1;
    margin-bottom: 1rem;
  }
  ul.menu-navigation,
  div.menu-pages {
    float: none;
    width: 100%;
    min-height: 0;
  }
  ul.menu-navigation.show,
  div.menu-pages.show {
    -webkit-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
  }
  .menu-navigation {
    height: 75vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
    font-size: 24px;
  }
  .menu-pages {
    height: 25vh;
    -webkit-transform: translate3d(-100%, 0, 0);
            transform: translate3d(-100%, 0, 0);
  }
  .menu-pages .portrait {
    background: url("../img/pic_me.svg");
    width: 100px;
    height: 100px;
    background-size: cover;
    position: center;
  }
  .about-info {
        grid-template-areas: 'bioimage'  'bio' 'Experince' 'job1'  'job2';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .three {
    border: 5px;
    background: #fff;
    overflow: hidden;
  }
  .three .sub-title {
    position: absolute;
    top: 190vh;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  .three .sub-title .pro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: 2;
    float: none;
  }
  .three .descript {
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    z-index: 2;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
  }
  .three .container-3 {
    padding: 1rem;
  }
  .three .wraper {
    height: 350px;
    width: 350px;
    position: relative;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .three .text-bubble {
    height: 262px;
    width: 45%;
    position: relative;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 112, 167, 0.068);
    border-bottom: solid 2px rgba(22, 22, 22, 0.08);
    border-right: solid 2px rgba(22, 22, 22, 0.08);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 4.5rem;
    z-index: 1;
  }
  .three .text-bubble h1 {
    position: absolute;
    text-decoration: none !important;
    color: #161616;
    font-weight: 500;
    top: 0px;
  }
  .three .text-bubble h3 {
    position: absolute;
    text-decoration: none !important;
    color: #161616;
    font-weight: 600;
    -webkit-transform: translateX(120px) translateY(20px);
            transform: translateX(120px) translateY(20px);
  }
  .three .text-bubble p {
    position: absolute;
    text-decoration: none !important;
    color: #161616;
    font-weight: 500;
    bottom: 0px;
    -webkit-transform: translateX(0) translateY(-30px);
            transform: translateX(0) translateY(-30px);
  }
  .three .text-bubble #tab-dash-text {
    position: absolute;
    text-decoration: none !important;
    color: #161616;
    font-weight: 500;
    bottom: 0px;
    -webkit-transform: translateX(50px) translateY(-70px);
            transform: translateX(50px) translateY(-70px);
  }
  .three .text-bubble:hover {
    background: rgba(22, 22, 22, 0.08);
    border: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .three .work-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
  }
  .three .work-button a {
    color: #161616;
    position: absolute;
    right: 15%;
    top: 238vh;
  }
  .three .work-button a:hover {
    color: #6bda53;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .three .container-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 800px;
    gap: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: absolute;
    top: 205vh;
  }
  .three img {
    height: 100%;
    width: 100%;
    background-size: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .three .container-3 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .three .text-bubble {
    height: 262px;
    width: 62%;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 112, 167, 0.068);
    border-bottom: solid 2px rgba(22, 22, 22, 0.08);
    border-right: solid 2px rgba(22, 22, 22, 0.08);
    border-radius: none;
    padding-top: 1rem;
  }
  .three .text-bubble:hover {
    background: rgba(22, 22, 22, 0.08);
    border: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
}

@media screen and (max-width: 500px) {
  main#home h1 {
    margin-top: 10vh;
  }
  ul {
    position: absolute;
  }
  ul li {
    position: relative;
    top: 15vh;
    z-index: 2;
    min-width: 100%;
  }
  .one #my-name {
    position: absolute;
    -webkit-transform: translateX(-240px) translateY(-570px);
            transform: translateX(-240px) translateY(-570px);
    z-index: 0;
    min-width: 100%;
  }
  .one #my-name #landing-title {
    display: inline-block;
    width: 400px;
    min-width: 100%;
    font-size: 1.5rem;
    background: rgba(255, 255, 255, 0.03);
  }
  .two #mob-tweek {
    position: absolute;
    -webkit-transform: translateX(0px) translateY(-135px);
            transform: translateX(0px) translateY(-135px);
    z-index: 0;
  }
  .two #tableau:hover::before {
    content: attr(data-tooltip);
    color: #fff;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(142, 206, 243, 0.99);
    border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .two #tableau:hover::before,
  .two #tableau:hover::after {
    position: absolute;
    top: 55rem;
    left: 10%;
    -webkit-transform: translateX(33%) translateY(0) scale(1);
            transform: translateX(33%) translateY(0) scale(1);
    -webkit-transition: 150ms -webkit-transform;
    transition: 150ms -webkit-transform;
    transition: 150ms transform;
    transition: 150ms transform, 150ms -webkit-transform;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .two #excel:hover::before {
    content: attr(data-tooltip);
    color: #fff;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(142, 206, 243, 0.99);
    border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .two #excel:hover::before,
  .two #excel:hover::after {
    position: absolute;
    top: 55rem;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(0) scale(1);
            transform: translateX(-50%) translateY(0) scale(1);
    -webkit-transition: 150ms -webkit-transform;
    transition: 150ms -webkit-transform;
    transition: 150ms transform;
    transition: 150ms transform, 150ms -webkit-transform;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .two #pandas:hover::before {
    content: attr(data-tooltip);
    color: #fff;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(142, 206, 243, 0.99);
    border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .two #pandas:hover::before,
  .two #pandas:hover::after {
    position: absolute;
    top: 55rem;
    right: 10%;
    -webkit-transform: translateX(33%) translateY(0) scale(1);
            transform: translateX(33%) translateY(0) scale(1);
    -webkit-transition: 150ms -webkit-transform;
    transition: 150ms -webkit-transform;
    transition: 150ms transform;
    transition: 150ms transform, 150ms -webkit-transform;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .two #seaborn:hover::before {
    content: attr(data-tooltip);
    color: #fff;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(142, 206, 243, 0.99);
    border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .two #seaborn:hover::before,
  .two #seaborn:hover::after {
    position: absolute;
    top: 64rem;
    left: 10%;
    -webkit-transform: translateX(33%) translateY(0) scale(1);
            transform: translateX(33%) translateY(0) scale(1);
    -webkit-transition: 150ms -webkit-transform;
    transition: 150ms -webkit-transform;
    transition: 150ms transform;
    transition: 150ms transform, 150ms -webkit-transform;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .two #python:hover::before {
    content: attr(data-tooltip);
    color: #fff;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(142, 206, 243, 0.99);
    border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .two #python:hover::before,
  .two #python:hover::after {
    position: absolute;
    top: 64rem;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(0) scale(1);
            transform: translateX(-50%) translateY(0) scale(1);
    -webkit-transition: 150ms -webkit-transform;
    transition: 150ms -webkit-transform;
    transition: 150ms transform;
    transition: 150ms transform, 150ms -webkit-transform;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .two #bs4:hover::before {
    content: attr(data-tooltip);
    color: #fff;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(142, 206, 243, 0.99);
    border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .two #bs4:hover::before,
  .two #bs4:hover::after {
    position: absolute;
    top: 64rem;
    right: 10%;
    -webkit-transform: translateX(33%) translateY(0) scale(1);
            transform: translateX(33%) translateY(0) scale(1);
    -webkit-transition: 150ms -webkit-transform;
    transition: 150ms -webkit-transform;
    transition: 150ms transform;
    transition: 150ms transform, 150ms -webkit-transform;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .two #sql:hover::before {
    content: attr(data-tooltip);
    color: #fff;
    padding: .6rem 1.2rem;
    border-radius: 1rem;
    text-align: center;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    max-width: 100%;
    background: rgba(142, 206, 243, 0.99);
    border-bottom: solid 2.75px rgba(22, 22, 22, 0.2);
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.1rem;
    font-weight: 700;
    -webkit-transition: 150ms;
    transition: 150ms;
  }
  .two #sql:hover::before,
  .two #sql:hover::after {
    position: absolute;
    top: 73rem;
    left: 50%;
    -webkit-transform: translateX(-50%) translateY(0) scale(1);
            transform: translateX(-50%) translateY(0) scale(1);
    -webkit-transition: 150ms -webkit-transform;
    transition: 150ms -webkit-transform;
    transition: 150ms transform;
    transition: 150ms transform, 150ms -webkit-transform;
    -webkit-transform-origin: bottom center;
            transform-origin: bottom center;
  }
  .three {
    border: 5px;
    background: #fff;
    overflow: hidden;
  }
  .three .sub-title {
    position: absolute;
    top: 190vh;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1rem;
    font-weight: 600;
  }
  .three .sub-title .pro {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    z-index: 2;
    float: none;
  }
  .three .descript {
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    z-index: 2;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
  }
  .three .container-3 {
    padding: 1rem;
  }
  .three .wraper {
    height: 350px;
    width: 350px;
    position: relative;
    -ms-grid-column-align: center;
        justify-self: center;
    text-align: center;
  }
  .three .text-bubble {
    height: 262px;
    width: 45%;
    position: relative;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 112, 167, 0.068);
    border-bottom: solid 2px rgba(22, 22, 22, 0.08);
    border-right: solid 2px rgba(22, 22, 22, 0.08);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 4.5rem;
    z-index: 1;
  }
  .three .text-bubble h1 {
    position: absolute;
    text-decoration: none !important;
    color: #161616;
    font-weight: 500;
    top: 0px;
  }
  .three .text-bubble h3 {
    position: absolute;
    text-decoration: none !important;
    color: #161616;
    font-weight: 600;
    -webkit-transform: translateX(120px) translateY(20px);
            transform: translateX(120px) translateY(20px);
  }
  .three .text-bubble p {
    position: absolute;
    text-decoration: none !important;
    color: #161616;
    font-weight: 500;
    bottom: 0px;
    -webkit-transform: translateX(0) translateY(-30px);
            transform: translateX(0) translateY(-30px);
  }
  .three .text-bubble #tab-dash-text {
    position: absolute;
    text-decoration: none !important;
    color: #161616;
    font-weight: 500;
    bottom: 0px;
    -webkit-transform: translateX(50px) translateY(-70px);
            transform: translateX(50px) translateY(-70px);
  }
  .three .text-bubble:hover {
    background: rgba(22, 22, 22, 0.08);
    border: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .three .work-button {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    z-index: 2;
  }
  .three .work-button a {
    color: #161616;
    position: absolute;
    right: 15%;
    top: 238vh;
  }
  .three .work-button a:hover {
    color: #6bda53;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .three .container-3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    height: auto;
    width: 800px;
    gap: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    position: absolute;
    top: 205vh;
  }
  .three img {
    height: 100%;
    width: 100%;
    background-size: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
  }
  .three .container-3 > * {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
  }
  .three .text-bubble {
    height: 262px;
    width: 80%;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: rgba(0, 112, 167, 0.068);
    border-bottom: solid 2px rgba(22, 22, 22, 0.08);
    border-right: solid 2px rgba(22, 22, 22, 0.08);
    border-radius: none;
    padding-top: 1rem;
  }
  .three .text-bubble:hover {
    background: rgba(22, 22, 22, 0.08);
    border: none;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .three #tile-hide, .three #we {
    display: none;
  }
  .three #text-hide, .three #hide {
    display: none;
  }
  .three #gi-me-more {
    position: absolute;
    -webkit-transform: translateX(5px) translateY(100px);
            transform: translateX(5px) translateY(100px);
    z-index: 0;
  }
  #social {
    margin-top: 1rem;
  }
  #social a {
    position: absolute;
    -webkit-transform: translateX(-16px) translateY(0px);
            transform: translateX(-16px) translateY(0px);
    top: 0;
    left: 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    float: left;
    padding: 1.5rem;
  }
  #social a:nth-child(1) {
    color: #161616;
    left: 0;
    top: 375px;
    position: fixed;
    z-index: 3;
  }
  #social a:nth-child(2) {
    color: #161616;
    left: 0;
    top: 275px;
    position: fixed;
    z-index: 3;
  }
  #social a:nth-child(3) {
    color: #161616;
    left: 0;
    top: 175px;
    position: fixed;
    z-index: 3;
  }
  #social a:hover {
    color: #6bda53;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
  }
  .page-container {
    min-height: 100%;
    width: 100vw;
  }
  .page-container .work-head {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: absolute;
    z-index: 1;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main {
    overflow: auto;
    padding-bottom: 50px;
  }
  .footer {
    width: 100%;
    background: #fff;
    position: relative;
    min-height: 50px;
    margin-top: -50px;
    clear: both;
  }
  .footer img {
    position: absolute;
    background-size: cover;
    background-position: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .pg-s3 .show-more-btn {
    position: absolute;
    top: 240vh;
  }
  #about-background {
    background-image: url("../img/bg-top.png");
    color: #000;
    background-repeat: no-repeat;
    height: 40vh;
    width: 100%;
  }
  #about-background .menu-button,
  #about-background .button-line {
    top: -55vh;
    left: -15px;
  }
  #about-background #ni {
    position: relative;
    top: 0px;
    -webkit-transform: translateX(0) translateY(10vh);
            transform: translateX(0) translateY(10vh);
  }
  #b {
    height: 78%;
  }
  #b .bio-info {
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    justify-items: center;
    -webkit-transform: translateX(0) translateY(-45vh);
            transform: translateX(0) translateY(-45vh);
  }
  #b #container-bio {
    position: relative;
    display: -ms-grid;
    display: grid;
    grid-gap: 30px;
    justify-items: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
        grid-template-areas: 'bioimage'  'bio';
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  #b #container-bio #yus {
    -webkit-transform: translateX(0) translateY(-45px);
            transform: translateX(0) translateY(-45px);
    left: 2px;
    width: 175px;
    height: 175px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: bioimage;
    justify-items: center;
    margin: auto;
    border-radius: 50%;
    border: solid 5px #6bda53;
  }
  #b #container-bio #item-2 {
    -webkit-transform: translateX(0) translateY(-60px);
            transform: translateX(0) translateY(-60px);
    -ms-grid-row: 2;
    -ms-grid-column: 1;
    grid-area: bio;
  }
  #b #container-bio #item-2 h2 {
    font-size: 1.5rem;
    text-align: center;
    justify-items: center;
    margin-right: 3%;
  }
  #b #container-bio #item-2 #statement {
    font-size: 1.25rem;
    max-width: 95%;
    font-family: 'Readex Pro', sans-serif;
    font-weight: 400;
    text-align: center;
    justify-items: center;
  }
  #skilled-in {
    height: 78%;
  }
  #skilled-in #sh {
    position: absolute;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    top: 0px;
    margin-right: 0%;
    -webkit-transform: translateX(0) translateY(-35px);
            transform: translateX(0) translateY(-35px);
    z-index: 3;
    width: 100%;
  }
  #skilled-in #sh #s {
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-family: 'Readex Pro', sans-serif;
    font-size: 1.2 0.5rem;
    font-weight: 600;
  }
  #work-title h1,
  #work-title h2 {
    position: relative;
    -webkit-transform: translateY(-80px);
            transform: translateY(-80px);
    text-align: center;
    z-index: 0;
  }
  .pg-s3 #Project_6 {
    position: absolute;
    -webkit-transform: translateY(-70px);
            transform: translateY(-70px);
  }
  .pg-s3 #more_3 {
    -webkit-transform: translateY(500px);
            transform: translateY(500px);
  }
  #work-cloud {
    position: absolute;
    -webkit-transform: translateX(0px) translateY(250px);
            transform: translateX(0px) translateY(250px);
  }
  #work-cloud #cloud-container {
    position: relative;
  }
  #work-cloud #cloud-container #cloud-bottom {
    position: absolute;
  }
  .contact_pg h1,
  .contact_pg h2 {
    color: #161616;
  }
  .contact_pg h1 {
    margin-top: 10rem;
    -webkit-transform: translateX(-120px) translateY(-210px);
            transform: translateX(-120px) translateY(-210px);
    background: rgba(255, 255, 255, 0.03);
    border-radius: 30px;
  }
  .contact_pg h2 {
    font-size: 1.5rem;
    left: 30%;
    margin-top: 3rem;
    width: 70%;
    -webkit-transform: translateX(-40px) translateY(-220px);
            transform: translateX(-40px) translateY(-220px);
    background: rgba(255, 255, 255, 0.02);
    border-radius: 30px;
  }
  .contact_pg #contact-footer {
    cursor: default;
    position: relative;
    width: 100%;
    min-width: 100%;
    height: 100%;
    z-index: 0;
  }
  .contact_pg #contact-footer .contact_ {
    position: relative;
    -webkit-transform: translateY(-240px);
            transform: translateY(-240px);
    left: 19%;
    border-left: solid 2px rgba(255, 255, 255, 0.12);
  }
  .contact_pg #contact-footer .contact_ h3 {
    font-size: 1.2rem;
    background: rgba(22, 22, 22, 0.01);
    padding: 1px;
    width: 23%;
    border-radius: 30px;
  }
  .contact_pg #contact-footer .contact_ p {
    font-size: 1rem;
    background: rgba(22, 22, 22, 0.01);
    padding: 1px;
    border-radius: 30px;
    width: 75%;
  }
  .contact_pg #contact-footer .contact_ .footer_ {
    font-size: 1rem;
  }
  .menu-button,
  .button-line {
    top: -5vh;
    left: -40px;
  }
  li {
    position: relative;
    top: 0px;
    -webkit-transform: translateX(0) translateY(10vh);
            transform: translateX(0) translateY(10vh);
  }
}
/*# sourceMappingURL=main.css.map */