html{
    height: 100%;
    width: 100%;
   }
   
   body{
    width: 100%;
    height: 100%;
   }

.contact_pg{
    //border:solid 2px green;
    display:fill;
    position: absolute;
    background-image: url(../img/bg-bottom.png);
    background-size: cover;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    top:40vh;
    
    .title{
        position: absolute;
        align-items: center;
        margin-left: auto;
        margin-right: auto;

        h1{
            position: relative;
            font-family: 'Readex Pro', sans-serif;
            text-transform: uppercase;
            font-size: 2rem;
            font-weight: 600;
            color: white;
            align-content: center;
            //transform: translateX(440px) translateY(0px);
            transform: translateX(125px) translateY(-400px);
            border:solid 2px rgba(255, 255, 255, 0);
            min-width: 161%;
            margin-top: 10rem;
            }

        h2 { 
            position: relative;
            font-family: 'Readex Pro', sans-serif;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-weight: 600;
            color: white;
            align-content: center;
            //transform: translateX(360px) translateY(0px);
            transform: translateX(10px) translateY(-400px);
            border:solid 2px rgba(255, 255, 255, 0);
            min-width: 272%;
            margin-top: 3rem;
        }
    }

        #contact-footer{
		    // cursor: default;
		    position: absolute;
            align-items: center;
		    // width: 100%;
            // height:100%;
		    // z-index: 0;

            #contact-social{

                .contact-icons{
                    //border:solid 5px blue;
                    position: relative;
                    align-items: center;
                    justify-content: space-between;
                    margin-left: auto;
                    margin-right: auto;
                    left:50%;
                    padding: 20px;
                    
                    &:nth-child(1) {
                        color: $pallete_0;
                        position:absolute;
                        //transform: translateX(-180px) translateY(-50px);
                        transform: translateX(-185px) translateY(-60px);
                        z-index: 1; 
                    }
                    &:nth-child(2) {
                        color: $pallete_0;
                        //transform: translateX(-100px) translateY(-50px);
                        transform: translateX(-55px) translateY(-60px);
                        position:absolute;
                        z-index: 1;  
                    }
                    &:nth-child(3) {
                        color: $pallete_0;
                        //transform: translateX(-20px) translateY(-50px);
                        transform: translateX(80px) translateY(-60px);
                        position:absolute;
                        z-index: 1;  
                    }
        
                    &:hover {
                        color:set-2nd-color($primary-color);
                        @include Ease_out();
                    }
        
                }
                
            
            
                
            }

        .contact_ {
            //border:solid 2px rgba(255, 255, 255, 100);
            display:block;
            position: relative;
            align-items: center;
            padding: 2.5rem 3.5rem;
            border-left: solid 2px rgba(#fff,0.12);

            h3{
                position: relative;
                font-family: 'Readex Pro', sans-serif;
                transform: translateX(145px) translateY(-40px);
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 600;
                color: white;
            }
            p { 
                position: relative;
                font-family: 'Readex Pro', sans-serif;
                transform: translateX(-10px) translateY(-20px);
                text-transform: uppercase;
                padding:1.5rem;
                font-size: 1rem;
                font-weight: 500;
                color: white;


            }

        
        }

    }
    
}