// widescreens
@include mediaXL {
    
    
}

// Desktops & Laptops
@include mediaL {
    
 
    
   
}

// Tablets & Small Laptops 
@include mediaMd {

    .heading {
        align-items: center;
        text-align: center;
        position:fixed;
        top: 0px;
        z-index: 3; 
        
        }

    .menu-button {
        position: absolute;
        z-index: 3;
        cursor: pointer;
        @include Ease-out;
    
        .button-line {
            width: 28px;
            height: 5px;
            margin: 0 0 5px 0;
            background: set-text-color($primary-color);
            @include Ease_out;
        }
    
        //Rotate into x with menu lines
    
        &.close { 
            transform: rotate(180deg);
    
    
            .button-line { 
                // line 1 rotate
                &:nth-child(1){
                    background-color: Nav-color($primary-color);
                    transform : rotate(45deg) translate(6px, 6px);
                }
    
                // line 2 hide
                &:nth-child(2){
                    opacity: 0;
                    }
    
                // line 3 rotate
                &:nth-child(3){
                    background-color: Nav-color($primary-color);
                    transform : rotate(-45deg) translate(9px, -8px);
                    }
            }
    
        }
    } 
    
    .menu { 
        z-index: 2 ;
        position: fixed;
        top: 0px;
        left: 0px;
        width: 100%;
        visibility: hidden;
    
        &.show { 
            visibility: visible;
        }
        
        &-pages,
        &-navigation {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            float:center;
            width: 50%;
            height:100vh;
            overflow: hidden;
    
        }
    
    
        &-navigation {
            margin:0;
            padding:0;
            background: rgba(darken($primary-color,5),0.90);
            list-style: none;
            transform: translate3d(0, 0, 0);
            @include Ease_out;
    
    
            &.show{
                transform:translate3d(0,0,0);
            }

            .portrait { 
                width: 175px;
                height:175px;
                background: url("../img/pic_me.svg");
                background-size: cover;
                align-content: center;
                position:absolute;
                border-radius: 50%;
                border: solid 5px set-2nd-color($primary-color);
                top:5vh;
    
            }
        }
    
        &-pages { 
            background: rgba($primary-color, 0.85);
            transform: translate3d(0, 0, 0);
            @include Ease_out;
    
            &.show {
                transform: translate3d(0, 0, 0);
            }
    
        }
    
    
        .nav-items{
            transform: translate3d(0,0,0);
            @include Ease_out;
    
            &.show { 
                transform: traslate3d(0,0,0);
            }
    
            &.current > a { 
                color: Nav-color($primary-color);
            }
    
        }
        .nav-link{
            background:none;
            display: inline-block;
            position: relative;
            font-size: 2rem;
            text-transform: uppercase;
            padding: 0.88rem 0;
            font-weight:500;
            color:set-text-color($primary-color);
            border-bottom: none;
            text-decoration: none;
            @include Ease_out;
    
    
            &:hover {
                background:rgba($primary-color, 0.0000008);
                color:set-2nd-color($primary-color);
                @include Ease_out();
            }
    
        }
    
    }

    

    @for $x from 1 through 4 {
        .nav-items:nth-child(#{$x}) {
            transition-delay: $x*0.125s;
        }
    } 

    // small device changes 
    main {
        align-items: center;
        text-align:center;

        .heading {
            line-height: 1;
            margin-bottom: 1rem;
        }
    }

    ul.menu-navigation,
    div.menu-pages { 
        float:none;
        width:100%;
        min-height:0;
    
        &.show { 
            transform: translate3d(0,0,0);
        }
    }
    
    // when it doesn't show

    .menu-navigation { 
        height: 75vh;
        transform: translate3d(-100%,0,0);
        font-size: 24px;
    }

    .menu-pages { 
        height: 25vh;
        transform: translate3d(-100%,0,0);

        .portrait { 
            background: url("../img/pic_me.svg");
            width: 100px;
            height: 100px;
            background-size: cover;
            position: center;
            }
    }

    .about-info { 
        grid-template-areas:
        'bioimage' 
        'bio'
        'Experince'
        'job1' 
        'job2';

        grid-template-columns:1fr;

    }

    .three{ 
        border: 5px;
        background: #fff;
        
        @import 's3';

        .text-bubble { 
            height: 262px;
            width: 62%;
            position:relative;
            align-items: center;
            justify-content: center;
            background-color: rgba($pallete_3,0.068);
            border-bottom:solid 2px rgba($pallete_0,0.08);
            border-right:solid 2px rgba($pallete_0,0.08);
            border-radius: none;
            padding-top: 1rem;
        
        
        
            &:hover {
                background:rgba($pallete_0,0.08);
                border: none;
                @include Ease_out();
            }

        }
    
        overflow: hidden;
    }



    
}


// Smartphones
@include mediaSm {
    body{
        overflow-x: hidden;
    }
    main#home h1{
        margin-top:10vh;
    }

    ul {
        position:absolute;
    li { 
        position: relative;
        top: 15vh;
        z-index:2;
        min-width:100%;
        

    }}
    
// index.html landing page
    .one{
        //border:solid 2px black;
        #my-name{
            position: absolute;
            transform: translateX(-220px) translateY(-600px);
            z-index:0;
            min-width:100%;
            
            #landing-title{
                display:inline-block;
                width:400px;
                min-width:100%;
                font-size: 1.5rem;
                background:rgba(#fff,0.03);
            }
        }
    }

    .two{
        //border:solid 2px black;
        #mob-tweek{
            position: absolute;
            transform: translateX(0px) translateY(-155px);
            z-index:0;

        }

        .about-button{
            align-items: center;
            justify-content: center;
            z-index:5;
            position:relative;
            
            a {
                color: $pallete_0;
                position:absolute;
                transform: translateX(-50px);
                
                &:hover {
                    color:set-2nd-color($primary-color);
                    @include Ease_out();
                }
    
            }
            
        }  

        @import'mobtooltip';
    }

    .three{ 
        border: 5px;
        background: #fff;
        
        @import 's3';

        .text-bubble { 
            height: 262px;
            width: 100%;
            position:relative;
            align-items: center;
            justify-content: center;
            background-color: rgba($pallete_3,0.068);
            border-bottom:solid 2px rgba($pallete_0,0.08);
            border-right:solid 2px rgba($pallete_0,0.08);
            border-radius: none;
            padding-top: 1rem;


            h1 { 
                position:absolute;
                align-items: center;
                text-decoration: none !important;
                color: rgba($pallete_0,100);
                font-weight:500;
                width:80%;
                top:0px;
                transform: translateX(35px) translateY(-40px);
            }
        
            h3 { 
                position:absolute;
                text-decoration: none !important;
                color: rgba($pallete_0,100);
                font-weight:600;
                transform: translateX(120px) translateY(85px);
                
            }
        
            
        
            #tab-dash-text { 
                position:absolute;
                text-decoration: none !important;
                color: rgba($pallete_0,100);
                font-weight:500;
                bottom: 0px;
                transform: translateX(50px) translateY(-50px);
        
            }
        
        
        
            &:hover {
                background:rgba($pallete_0,0.08);
                border: none;
                @include Ease_out();
            }
        }

        .container-3 {
            //border:solid 2px black;
            display: flex;
            height: auto;
            width:100%;
            gap: 0;
            flex-wrap: wrap;
            flex-basis: auto;
            align-items: center;
            justify-content: center;
            text-align: center;
            position:absolute;
            top:205vh;

            .text-bubble{
                width:500px;
            }
        }
    
        overflow: hidden;

        #tile-hide, #we {
            display:none;
        }

        #text-hide, #hide {
            display:none;
        }

        #gi-me-more {
            position: absolute;
            transform: translateX(5px) translateY(100px);
            z-index:0;

        }
    }

    .four{
        h1{
            position:absolute;
            transform: translateX(-115px) translateY(-150px);
            }

            #main-footer{
                
            .contact_ {
                position:relative;
                border:none;
                h3{
                    position:absolute;
                    transform: translateX(-190px) translateY(-67px);
                    border-left: solid 2px rgba(#fff,0.12);
                    padding:20px 20px;      
                }

                p {
                    position:absolute;
                    transform: translateX(-190px) translateY(-0px);
                    border-left: solid 2px rgba(#fff,0.12);
                    padding: 30px 20px;
                    width:auto; 
                    font-size: 0.8rem;
                    
                }}
    }}

    #social {
        margin-top: 1rem;

        a{
            position: absolute;
            transform: translateX(-23px) translateY(0px);
            top:0;
            left:0;
            align-items: center;
            float:left;
            padding: 1.5rem;
            
            &:nth-child(1) {
                color: $pallete_0;
                left:0;
                top: 375px;
                position:fixed;
                z-index: 3; 
            }
            &:nth-child(2) {
                color: $pallete_0;
                left:0;
                top: 275px;
                position:fixed;
                z-index: 3;  
            }
            &:nth-child(3) {
                color: $pallete_0;
                left:0;
                top: 175px;
                position:fixed;
                z-index: 3;  
            }
            &:hover {
                color:set-2nd-color($primary-color);
                @include Ease_out();
            }}}

    .page-container { 
        
        min-height: 100%;
        width:100vw;
        
        .work-head { 
            display:flex;
            position: absolute;
            z-index: 1;
            align-items: center;
        }
    }

    .main { 
        overflow:auto;
        padding-bottom: 50px;
    }

    .footer{
        width:100%; 
        background: #fff;
        position: relative;
        min-height: 50px;
        margin-top: -50px;
        clear: both;
       
        
    
        img {
            position: absolute;
            background-size: cover;
            background-position: center;
            align-items: center;
            justify-content: center;
        
        }
    }

    .pg-s3{

    .show-more-btn{
        position: absolute;
        top:240vh;
        }
    }

    //About page
    #about-background {  
        background-image: url('../img/bg-top.png');
        color: set-text-color($primary-color);
        background-repeat: no-repeat;
        background-size: cover;
        //border:solid 5px black;
        height:40vh;
        width:100%;

        .menu-button,
        .button-line{
            top: -55vh;
            left: -15px;
        }
    
        #ni{
            position:relative;
            top:0px;
            transform:translateX(0) translateY(10vh);
        }
    }

    #b{
        height:78%;
        
        .bio-info{
            position:absolute;
            align-items:center;
            justify-items: center;
            transform:translateX(0) translateY(-330px);
    
        }
    
        #container-bio {
            position:relative;
            display: grid;
            grid-gap: 30px;
            justify-items: center;
            align-items: center;
            grid-template-areas:
            'bioimage' 
            'bio';
            grid-template-columns: 1fr;
            
    
            #yus{
                transform:translateX(0) translateY(-42px);
                background-size: cover;
                left:2px;
                width:155px;
                height:155px;
                grid-area: bioimage;
                justify-items: center;
                margin: auto;
                border-radius: 50%;
                border: solid 5px set-2nd-color($primary-color);
            }
    
            #item-2{ 
                transform:translateX(0) translateY(-80px);
                grid-area: bio;
                
    
                h2{
                    font-size: 1.5rem;
                    text-align: center;
                    justify-items: center;
                    margin-right:3%;
                }
                
                #statement {
                    font-size: 1.25rem;
                    max-width:95%;
                    font-family: 'Readex Pro', sans-serif;
                    font-weight: 400;
                    text-align: center;
                    justify-items: center;
                }
                
            }

            
    
        }
        
    
    }

    #skilled-in{

        height:78%;
    
        #sh {
            position:absolute;
            align-items: center;
            text-align: center;
            top: 0px;
            margin-right:0%;
            transform: translateX(0) translateY(-65px);
            z-index: 3;
            width:100%;
            
    
            #s{ position:relative;
                align-items: center;
                text-align: center;
                font-family: 'Readex Pro', sans-serif;
                font-size: 1.2.5rem;
                font-weight: 600;
    
            }
             }
    }

    // Work.html Project page

    .page-container { 
        height: 100%;
        overflow: hidden;
        width:100%;
        //border:solid 2px black;
    
    .work-head { 
        display:flex;
        position: absolute;
        z-index: 1;
        align-items: center;
        
    }
}

    #work-title{
        //border:solid 2px black;
        width:90%;
        h1{
            position: relative;
            transform: translateX(-15px) translateY(-80px);
            width: 90%;
            text-align: center;
            z-index:0;

        }
        h2{
            position: relative;
            transform: translateX(15px) translateY(-80px);
            width: 90%;
            text-align: center;
            z-index:0;
        }
    }

    .pg-s1{
        //border:solid 2px black;
        width:100%;
        .bg-top{
            .bg-t{
                    background-size:cover;
                    overflow-x: hidden;
                    //width:100%;
    }}}
    
    .pg-s3{
        //border:solid 2px black;
        width:100%;
        #Project_6{
        position: absolute;
        transform:translateY(-70px);
    }
    #more_3{
        transform:translateY(600px);
    }
    .text-tile { 
        height: 262px;
        width: 350px;
        position:relative;
        align-items: center;
        justify-content: center;

        h1{
            position:absolute;
            width:95%;
            font-weight:600;
            font-size: 1.25rem;
            top:0px;
            transform: translateX(5px) translateY(0px);

        }

        h3 { 
            position:absolute;
            font-weight:600;
            transform: translateX(75px) translateY(20px);
            
        }
    
        p { 
            position:absolute;
            font-weight:400;
            width: 95%;
            bottom: 0px;
            transform: translateX(5px) translateY(0px);
    
        }
    
        #tab-dash-text { 
            position:absolute;
            font-weight:400;
            width:90%;
            bottom: 0px;
            transform: translateX(10px) translateY(-20px);
    
        }

    }}

    #work-cloud{
        //border:solid 2px black;
        position:absolute;
        transform:translateX(0px) translateY(1600px);
        
    
        #cloud-container{
            position:relative;
            
            

            #cloud-bottom{
                position:absolute;
                overflow-x: hidden;
                

            }
        }
    }



    //Contact.html Contact page
    
    .contact_pg{
        overflow-x: hidden;

        .title{
            position: absolute;
            align-items: center;
            margin-left: auto;
            margin-right: auto;
    
            h1{
                position: relative;
                font-family: 'Readex Pro', sans-serif;
                text-transform: uppercase;
                font-size: 2rem;
                font-weight: 600;
                color: white;
                align-content: center;
                //transform: translateX(440px) translateY(0px);
                transform: translateX(125px) translateY(-400px);
                border:solid 2px rgba(255, 255, 255, 0);
                min-width: 161%;
                margin-top: 10rem;
                }
    
            h2 { 
                position: relative;
                font-family: 'Readex Pro', sans-serif;
                text-transform: uppercase;
                font-size: 1.2rem;
                font-weight: 600;
                color: white;
                align-content: center;
                //transform: translateX(360px) translateY(0px);
                transform: translateX(0px) translateY(-370px);
                border:solid 2px rgba(255, 255, 255, 0);
                width: 10%;
            }
        }
    
    .menu-button,
        .button-line{
            top: -5vh;
            left: -40px;
        }
    li {
        position:relative;
        top:0px;
        transform:translateX(-10) translateY(10vh);
    }

    .contact_ {
        //border:solid 2px black;
        width:85%;
        display:block;
        position: relative;
        align-items: center;
        padding: 2.5rem 3.5rem;
        border-left: solid 2px rgba(#fff,0.12);

        h3{
            position: relative;
            font-family: 'Readex Pro', sans-serif;
            transform: translateX(145px) translateY(-40px);
            text-transform: uppercase;
            font-size: 1.2rem;
            font-weight: 600;
            color: white;
        }
        p { 
            position: relative;
            font-family: 'Readex Pro', sans-serif;
            transform: translateX(-10px) translateY(-20px);
            text-transform: uppercase;
            padding:1.5rem;
            font-size: 1rem;
            font-weight: 500;
            color: white;


        }

    
    }



}}

