 
    .sub-title{
        position: absolute;
        top: 190vh;
        font-family: 'Readex Pro', sans-serif;
        font-size: 1rem;
        font-weight: 600;

        .pro {
            align-items: center;
            justify-content: center;
            text-align: center;
            z-index: 2; 
            float:none;
     }
    }

.descript { 
    position:absolute;
    align-items: center;
    text-align: center;
    z-index: 2; 
    font-family: 'Readex Pro', sans-serif;
    font-weight: 500;
}

.container-3 { 
    padding: 1rem;
}
.wraper { 
    height: 350px;
    width: 350px;
    position:relative;
    justify-self: center;
    text-align: center;
    
}

.text-bubble { 
    height: 262px;
    width: 45%;
    position:relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color: rgba($pallete_3,0.068);
    border-bottom:solid 2px rgba($pallete_0,0.08);
    border-right:solid 2px rgba($pallete_0,0.08);
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    padding-top: 4.5rem;
    z-index: 1;

    h1 { 
        position:absolute;
        text-decoration: none !important;
        color: rgba($pallete_0,100);
        font-weight:500;
        top:0px;
    }

    h3 { 
        position:absolute;
        text-decoration: none !important;
        color: rgba($pallete_0,100);
        font-weight:600;
        transform: translateX(120px) translateY(20px);
        
    }

    p { 
        position:absolute;
        text-decoration: none !important;
        color: rgba($pallete_0,100);
        font-weight:500;
        bottom: 0px;
        transform: translateX(0) translateY(-30px);

    }

    #tab-dash-text { 
        position:absolute;
        text-decoration: none !important;
        color: rgba($pallete_0,100);
        font-weight:500;
        bottom: 0px;
        transform: translateX(50px) translateY(-70px);

    }



    &:hover {
        background:rgba($pallete_0,0.08);
        border: none;
        @include Ease_out();
    }
}

.work-button{
    align-items: center;
    justify-content: center;
    z-index:2;

    
    a {
        color: $pallete_0;
        position: absolute;
        right: 15%;
        top: 238vh;
        

        
        &:hover {
            color:set-2nd-color($primary-color);
            @include Ease_out();
        }

    }
    
}      
    
.container-3 {
    display: flex;
    height: auto;
    width:800px;
    gap: 0;
    flex-wrap: wrap;
    flex-basis: auto;
    align-items: center;
    justify-content: center;
    text-align: center;
    position:absolute;
    top:205vh;
}



img {
    height:100%;
    width:100%;
    background-size: auto;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;


}


    .container-3 > * {
        flex: 0 1 auto;

    }
